In [141]:
import pandas as pd
import numpy as np

https://github.com/DHSProgram/DHS-Indicators-Stata/blob/master/Chap08_CM/CM_CHILD.do

In [142]:
all_data = pd.read_csv('raw_child_mortality.csv', low_memory=False, 
                       usecols=['surveyid','clusterid', 'sample_wt', 'v008_int_cmc', 'b3_dob_cmc', 'b5_is_alive', 'b7_death_age_months']
                      )

In [143]:
all_data.drop(all_data[all_data['surveyid']!=491].index, inplace=True)

In [119]:
pd.set_option('display.max_columns', None)

In [144]:
all_data[~all_data.b7_death_age_months.isna()]

,surveyid,clusterid,sample_wt,v008_int_cmc,b3_dob_cmc,b5_is_alive,b7_death_age_months
6680132,491,1,1134416,1417,1377,0,0.0
6680142,491,1,1134416,1417,1200,0,144.0
6680144,491,1,1134416,1417,1355,0,36.0
6680151,491,1,1134416,1417,1093,0,0.0
6680160,491,1,1134416,1417,1299,0,60.0
...,...,...,...,...,...,...,...
10774716,491,554,1166254,1416,1389,0,24.0
10774720,491,554,1166254,1416,1350,0,24.0
10774722,491,554,1166254,1416,1291,0,48.0
10774725,491,554,1166254,1416,1213,0,12.0
10774730,491,554,1166254,1416,1234,0,18.0

In [162]:
age_classes = {
    #1: (0,1)     # NN
     #,2: (1,12)   # infant after NN
    #,3: (12,60)  #child after infancy
    #,4: (0, 12)  # infant
    5: (0, 60)  # U5
}
age_int_ids = [5
               #,2
               #,3
               #,4
               #, 5
              ] # just to easily iterate in a fixed order

time_windows = (5,10)
#i_1  = (0,1,1)
#i_2 = (1,12,11)
#i_3 = (12,60,48)

In [163]:
for w in time_windows:
    all_data[f'start_mth_{w}yr'] = all_data['v008_int_cmc'] + 12 * (-w + 1) - 12
    all_data[f'end_mth_{w}yr'] = all_data['v008_int_cmc'] + 12 * 0 - 1
    #all_data[f'maybe_in_{w}yr'] = (
    #    (all_data.b3_dob_cmc <= all_data[f'end_mth_{w}yr']) & 
    #    (all_data.b3_dob_cmc + 60 >= all_data[f'start_mth_{w}yr']-1))

In [186]:
all_data[~all_data.b7_death_age_months.isna()]

,surveyid,clusterid,sample_wt,v008_int_cmc,b3_dob_cmc,b5_is_alive,b7_death_age_months,start_mth_5yr,end_mth_5yr,start_mth_10yr,end_mth_10yr,age_int_at_death,dod_5yr_from,dod_5yr_to,dod_10yr_from,dod_10yr_to,died_5yr_1,died_10yr_1,risk_5yr_1,risk_10yr_1,died_5yr_5,died_10yr_5,risk_5yr_5,risk_10yr_5
6680132,491,1,1134416,1417,1377,0,0.0,1357,1416,1297,1416,5.0,1377.0,1437.0,1377.0,1437.0,1.0,1.0,1.0,1.0,0.5,0.5,0.5,0.5
6680142,491,1,1134416,1417,1200,0,144.0,1357,1416,1297,1416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6680144,491,1,1134416,1417,1355,0,36.0,1357,1416,1297,1416,5.0,1355.0,1415.0,1355.0,1415.0,NaN,NaN,NaN,NaN,0.5,1.0,0.5,1.0
6680151,491,1,1134416,1417,1093,0,0.0,1357,1416,1297,1416,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6680160,491,1,1134416,1417,1299,0,60.0,1357,1416,1297,1416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10774716,491,554,1166254,1416,1389,0,24.0,1356,1415,1296,1415,5.0,1389.0,1449.0,1389.0,1449.0,NaN,NaN,NaN,NaN,0.5,0.5,0.5,0.5
10774720,491,554,1166254,1416,1350,0,24.0,1356,1415,1296,1415,5.0,1350.0,1410.0,1350.0,1410.0,NaN,NaN,NaN,NaN,0.5,1.0,0.5,1.0
10774722,491,554,1166254,1416,1291,0,48.0,1356,1415,1296,1415,5.0,NaN,NaN,1291.0,1351.0,NaN,NaN,NaN,NaN,NaN,0.5,NaN,0.5
10774725,491,554,1166254,1416,1213,0,12.0,1356,1415,1296,1415,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10774730,491,554,1166254,1416,1234,0,18.0,1356,1415,1296,1415,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [187]:
all_data['age_int_at_death']=np.nan
for ageclass in age_int_ids:
    min_age, max_age = age_classes[ageclass]
    all_data.loc[(all_data.b7_death_age_months>=min_age) & (all_data.b7_death_age_months<max_age), 
                 'age_int_at_death'] = ageclass

In [188]:
all_data[~all_data.b7_death_age_months.isna()]

,surveyid,clusterid,sample_wt,v008_int_cmc,b3_dob_cmc,b5_is_alive,b7_death_age_months,start_mth_5yr,end_mth_5yr,start_mth_10yr,end_mth_10yr,age_int_at_death,dod_5yr_from,dod_5yr_to,dod_10yr_from,dod_10yr_to,died_5yr_1,died_10yr_1,risk_5yr_1,risk_10yr_1,died_5yr_5,died_10yr_5,risk_5yr_5,risk_10yr_5
6680132,491,1,1134416,1417,1377,0,0.0,1357,1416,1297,1416,5.0,1377.0,1437.0,1377.0,1437.0,1.0,1.0,1.0,1.0,0.5,0.5,0.5,0.5
6680142,491,1,1134416,1417,1200,0,144.0,1357,1416,1297,1416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6680144,491,1,1134416,1417,1355,0,36.0,1357,1416,1297,1416,5.0,1355.0,1415.0,1355.0,1415.0,NaN,NaN,NaN,NaN,0.5,1.0,0.5,1.0
6680151,491,1,1134416,1417,1093,0,0.0,1357,1416,1297,1416,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6680160,491,1,1134416,1417,1299,0,60.0,1357,1416,1297,1416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10774716,491,554,1166254,1416,1389,0,24.0,1356,1415,1296,1415,5.0,1389.0,1449.0,1389.0,1449.0,NaN,NaN,NaN,NaN,0.5,0.5,0.5,0.5
10774720,491,554,1166254,1416,1350,0,24.0,1356,1415,1296,1415,5.0,1350.0,1410.0,1350.0,1410.0,NaN,NaN,NaN,NaN,0.5,1.0,0.5,1.0
10774722,491,554,1166254,1416,1291,0,48.0,1356,1415,1296,1415,5.0,NaN,NaN,1291.0,1351.0,NaN,NaN,NaN,NaN,NaN,0.5,NaN,0.5
10774725,491,554,1166254,1416,1213,0,12.0,1356,1415,1296,1415,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10774730,491,554,1166254,1416,1234,0,18.0,1356,1415,1296,1415,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [189]:
for w in time_windows:
    for ageclass in age_int_ids:
        min_age, max_age = age_classes[ageclass]
        all_data.loc[all_data.age_int_at_death==ageclass, 
                     f'dod_{w}yr_from'] = all_data.b3_dob_cmc + min_age
        all_data.loc[all_data.age_int_at_death==ageclass, 
                     f'dod_{w}yr_to'] = all_data.b3_dob_cmc + max_age
    all_data.loc[all_data[f'dod_{w}yr_to'] < all_data[f'start_mth_{w}yr'], 
                 [f'dod_{w}yr_from',f'dod_{w}yr_to']]=np.nan

In [190]:
all_data[~all_data.b7_death_age_months.isna()]

,surveyid,clusterid,sample_wt,v008_int_cmc,b3_dob_cmc,b5_is_alive,b7_death_age_months,start_mth_5yr,end_mth_5yr,start_mth_10yr,end_mth_10yr,age_int_at_death,dod_5yr_from,dod_5yr_to,dod_10yr_from,dod_10yr_to,died_5yr_1,died_10yr_1,risk_5yr_1,risk_10yr_1,died_5yr_5,died_10yr_5,risk_5yr_5,risk_10yr_5
6680132,491,1,1134416,1417,1377,0,0.0,1357,1416,1297,1416,5.0,1377.0,1437.0,1377.0,1437.0,1.0,1.0,1.0,1.0,0.5,0.5,0.5,0.5
6680142,491,1,1134416,1417,1200,0,144.0,1357,1416,1297,1416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6680144,491,1,1134416,1417,1355,0,36.0,1357,1416,1297,1416,5.0,1355.0,1415.0,1355.0,1415.0,NaN,NaN,NaN,NaN,0.5,1.0,0.5,1.0
6680151,491,1,1134416,1417,1093,0,0.0,1357,1416,1297,1416,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6680160,491,1,1134416,1417,1299,0,60.0,1357,1416,1297,1416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10774716,491,554,1166254,1416,1389,0,24.0,1356,1415,1296,1415,5.0,1389.0,1449.0,1389.0,1449.0,NaN,NaN,NaN,NaN,0.5,0.5,0.5,0.5
10774720,491,554,1166254,1416,1350,0,24.0,1356,1415,1296,1415,5.0,1350.0,1410.0,1350.0,1410.0,NaN,NaN,NaN,NaN,0.5,1.0,0.5,1.0
10774722,491,554,1166254,1416,1291,0,48.0,1356,1415,1296,1415,5.0,NaN,NaN,1291.0,1351.0,NaN,NaN,NaN,NaN,NaN,0.5,NaN,0.5
10774725,491,554,1166254,1416,1213,0,12.0,1356,1415,1296,1415,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10774730,491,554,1166254,1416,1234,0,18.0,1356,1415,1296,1415,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
# Count dead children whose age was in the given interval ONLY at the time of death and where this 
# occurred within the time window of interest
# DHS lines 242-249
for w in time_windows:
    for ageclass in age_int_ids:
        min_age, max_age = age_classes[ageclass]

        # window: five years before survey
        #  died in this age interval, and for this child that age interval is entirely in the time window, count death as 1
        all_data.loc[(all_data.age_int_at_death==ageclass) & 
                     (all_data[f'dod_{w}yr_to']<=all_data[f'end_mth_{w}yr']) & 
                     (all_data[f'dod_{w}yr_from']>=all_data[f'start_mth_{w}yr']), 
                     f'died_{w}yr_{ageclass}'] = 1
        # age interval is partly in the time window and partly before it, count death as 0.5
        all_data.loc[(all_data.age_int_at_death==ageclass) & 
                     (all_data[f'dod_{w}yr_to']>=all_data[f'start_mth_{w}yr']) & 
                     (all_data[f'dod_{w}yr_from']<all_data[f'start_mth_{w}yr']), 
                     f'died_{w}yr_{ageclass}'] = 0.5
        # age interval is partly in the time window and partly after it, count death as 0.5
        all_data.loc[(all_data.age_int_at_death==ageclass) & 
                     (all_data[f'dod_{w}yr_to']>all_data[f'end_mth_{w}yr']) & 
                     (all_data[f'dod_{w}yr_from']<=all_data[f'end_mth_{w}yr']), 
                     f'died_{w}yr_{ageclass}'] = 0.5

        # window: ten years before survey
        #  age interval is entirely in the time window, count death as 1
#        all_data.loc[(all_data.age_int_at_death==ageclass) & 
#                     (all_data.dod_10yr_to<=all_data.end_mth_10yr) & 
#                     (all_data.dod_10yr_from>=all_data.start_mth_10yr), 
#                     f'died_10yr_{ageclass}'] = 1
        # age interval is partly in the time window and partly before it, count death as 0.5
#        all_data.loc[(all_data.age_int_at_death==ageclass) & 
#                     (all_data.dod_10yr_to>=all_data.start_mth_10yr) & 
#                     (all_data.dod_10yr_from<all_data.start_mth_10yr), 
#                     f'died_10yr_{ageclass}'] = 0.5
        # age interval is partly in the time window and partly after it, count death as 0.5
#        all_data.loc[(all_data.age_int_at_death==ageclass) & 
#                     (all_data.dod_10yr_to>all_data.end_mth_10yr) & 
#                     (all_data.dod_10yr_from<=all_data.end_mth_10yr), 
#                     f'died_10yr_{ageclass}'] = 0.5

In [192]:
all_data[~all_data.b7_death_age_months.isna()]

,surveyid,clusterid,sample_wt,v008_int_cmc,b3_dob_cmc,b5_is_alive,b7_death_age_months,start_mth_5yr,end_mth_5yr,start_mth_10yr,end_mth_10yr,age_int_at_death,dod_5yr_from,dod_5yr_to,dod_10yr_from,dod_10yr_to,died_5yr_1,died_10yr_1,risk_5yr_1,risk_10yr_1,died_5yr_5,died_10yr_5,risk_5yr_5,risk_10yr_5
6680132,491,1,1134416,1417,1377,0,0.0,1357,1416,1297,1416,5.0,1377.0,1437.0,1377.0,1437.0,1.0,1.0,1.0,1.0,0.5,0.5,0.5,0.5
6680142,491,1,1134416,1417,1200,0,144.0,1357,1416,1297,1416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6680144,491,1,1134416,1417,1355,0,36.0,1357,1416,1297,1416,5.0,1355.0,1415.0,1355.0,1415.0,NaN,NaN,NaN,NaN,0.5,1.0,0.5,1.0
6680151,491,1,1134416,1417,1093,0,0.0,1357,1416,1297,1416,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6680160,491,1,1134416,1417,1299,0,60.0,1357,1416,1297,1416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10774716,491,554,1166254,1416,1389,0,24.0,1356,1415,1296,1415,5.0,1389.0,1449.0,1389.0,1449.0,NaN,NaN,NaN,NaN,0.5,0.5,0.5,0.5
10774720,491,554,1166254,1416,1350,0,24.0,1356,1415,1296,1415,5.0,1350.0,1410.0,1350.0,1410.0,NaN,NaN,NaN,NaN,0.5,1.0,0.5,1.0
10774722,491,554,1166254,1416,1291,0,48.0,1356,1415,1296,1415,5.0,NaN,NaN,1291.0,1351.0,NaN,NaN,NaN,NaN,NaN,0.5,NaN,0.5
10774725,491,554,1166254,1416,1213,0,12.0,1356,1415,1296,1415,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10774730,491,554,1166254,1416,1234,0,18.0,1356,1415,1296,1415,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [193]:
# NOW DO RISK i.e. denominators
# All children alive or dead whose age was in the given interval OR OLDER within the time window
for w in time_windows:
    for ageclass in age_int_ids:
        min_age, max_age = age_classes[ageclass]
        # DHS lines 254-267

        # window: five years before survey
        #  age interval is entirely in the time window, count risk as 1 #L254
        all_data.loc[((all_data.age_int_at_death>=ageclass) | all_data.b7_death_age_months.isna()) &
                    (all_data.b3_dob_cmc + max_age <= all_data[f'end_mth_{w}yr']) &
                    (all_data.b3_dob_cmc + min_age >= all_data[f'start_mth_{w}yr']),
                    f'risk_{w}yr_{ageclass}'] = 1
        #L257 
        # NB DHS has "age_int_at_death>`i'" which i think is wrong, it should be "age_int_at_death>=`i'"
        all_data.loc[((all_data.age_int_at_death>=ageclass) | all_data.b7_death_age_months.isna()) &
                    (all_data.b3_dob_cmc + max_age >= all_data[f'start_mth_{w}yr']) &
                    (all_data.b3_dob_cmc + min_age < all_data[f'start_mth_{w}yr']),
                    f'risk_{w}yr_{ageclass}'] = 0.5
        #L260
        all_data.loc[((all_data.age_int_at_death>=ageclass) | all_data.b7_death_age_months.isna()) &
                    (all_data.b3_dob_cmc + max_age > all_data[f'end_mth_{w}yr']) &
                    (all_data.b3_dob_cmc + min_age <= all_data[f'end_mth_{w}yr']),
                    f'risk_{w}yr_{ageclass}'] = 0.5

        # L271
        all_data.loc[all_data[f'died_{w}yr_{ageclass}'] == 0.5, 
                    f'risk_{w}yr_{ageclass}'] = 0.5

        # L274
        all_data.loc[(all_data[f'died_{w}yr_{ageclass}'].isna()) & 
                     (all_data[f'risk_{w}yr_{ageclass}'] > 0) &
                     (all_data[f'risk_{w}yr_{ageclass}'] <= 1), 
                    f'died_{w}yr_{ageclass}'] = 0
        
        # L275
        all_data.loc[(all_data[f'risk_{w}yr_{ageclass}'].isna()) & 
                     (all_data[f'died_{w}yr_{ageclass}'] > 0) &
                     (all_data[f'died_{w}yr_{ageclass}'] <= 1), 
                    f'risk_{w}yr_{ageclass}'] = 0
        
        all_data.loc[all_data[f'died_{w}yr_{ageclass}'] == 1, 
                    f'risk_{w}yr_{ageclass}'] = 1

In [194]:
all_data[~all_data.b7_death_age_months.isna()]

,surveyid,clusterid,sample_wt,v008_int_cmc,b3_dob_cmc,b5_is_alive,b7_death_age_months,start_mth_5yr,end_mth_5yr,start_mth_10yr,end_mth_10yr,age_int_at_death,dod_5yr_from,dod_5yr_to,dod_10yr_from,dod_10yr_to,died_5yr_1,died_10yr_1,risk_5yr_1,risk_10yr_1,died_5yr_5,died_10yr_5,risk_5yr_5,risk_10yr_5
6680132,491,1,1134416,1417,1377,0,0.0,1357,1416,1297,1416,5.0,1377.0,1437.0,1377.0,1437.0,1.0,1.0,1.0,1.0,0.5,0.5,0.5,0.5
6680142,491,1,1134416,1417,1200,0,144.0,1357,1416,1297,1416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6680144,491,1,1134416,1417,1355,0,36.0,1357,1416,1297,1416,5.0,1355.0,1415.0,1355.0,1415.0,NaN,NaN,NaN,NaN,0.5,1.0,0.5,1.0
6680151,491,1,1134416,1417,1093,0,0.0,1357,1416,1297,1416,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6680160,491,1,1134416,1417,1299,0,60.0,1357,1416,1297,1416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10774716,491,554,1166254,1416,1389,0,24.0,1356,1415,1296,1415,5.0,1389.0,1449.0,1389.0,1449.0,NaN,NaN,NaN,NaN,0.5,0.5,0.5,0.5
10774720,491,554,1166254,1416,1350,0,24.0,1356,1415,1296,1415,5.0,1350.0,1410.0,1350.0,1410.0,NaN,NaN,NaN,NaN,0.5,1.0,0.5,1.0
10774722,491,554,1166254,1416,1291,0,48.0,1356,1415,1296,1415,5.0,NaN,NaN,1291.0,1351.0,NaN,NaN,NaN,NaN,NaN,0.5,NaN,0.5
10774725,491,554,1166254,1416,1213,0,12.0,1356,1415,1296,1415,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10774730,491,554,1166254,1416,1234,0,18.0,1356,1415,1296,1415,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### this is now "risk_and_deaths.dta"

In [195]:
d_w_5, d_w_10 = (all_data.died_5yr_5 * (all_data.sample_wt/1000000)).sum(),  (all_data.died_10yr_5 * (all_data.sample_wt/1000000)).sum()
d_w_5, d_w_10

(1107.6406555, 2224.4121050000003)

In [196]:
d_uw_5, d_uw_10 = (all_data.died_5yr_5).sum(),  (all_data.died_10yr_5).sum()
d_uw_5, d_uw_10

(1106.5, 2236.5)

In [197]:
r_w_5, r_w_10 = (all_data.risk_5yr_5 * (all_data.sample_wt/1000000)).sum(), (all_data.risk_10yr_5 * (all_data.sample_wt/1000000)).sum() 
r_w_5, r_w_10

(12601.376033999999, 22770.203164500002)

In [198]:
r_uw_5, r_uw_10 = (all_data.risk_5yr_5).sum(), (all_data.risk_10yr_5).sum() 
r_uw_5, r_uw_10

(12592.0, 22783.0)

In [199]:
(d_w_5 / r_w_5) * 1000 , (d_w_10 / r_w_10) * 1000

(87.89838923237073, 97.68960289594523)

In [200]:
(d_uw_5 / r_uw_5) * 1000 , (d_uw_10 / r_uw_10) * 1000

(87.87325285895807, 98.16529868761796)

In [201]:
(all_data.loc[(all_data['b5_is_alive']==1 & (all_data['b3_dob_cmc']+60 > all_data['v008_int_cmc'])) |
            (all_data['b5_is_alive']==0  & (all_data['b7_death_age_months'] < 60)),
            'sample_wt'] / 1000000).sum()

17950.465202

In [214]:
# raw calculation base on all children

(all_data.loc[(all_data['b5_is_alive']==0)  & (all_data['b7_death_age_months'] < 1),
            'sample_wt'] / 1000000).sum()  / 45856 * 1000

34.964429278611306

In [204]:
all_data.loc[(all_data['b5_is_alive']==0  & (all_data['b7_death_age_months'] < 60))]

,surveyid,clusterid,sample_wt,v008_int_cmc,b3_dob_cmc,b5_is_alive,b7_death_age_months,start_mth_5yr,end_mth_5yr,start_mth_10yr,end_mth_10yr,age_int_at_death,dod_5yr_from,dod_5yr_to,dod_10yr_from,dod_10yr_to,died_5yr_1,died_10yr_1,risk_5yr_1,risk_10yr_1,died_5yr_5,died_10yr_5,risk_5yr_5,risk_10yr_5
6680132,491,1,1134416,1417,1377,0,0.0,1357,1416,1297,1416,5.0,1377.0,1437.0,1377.0,1437.0,1.0,1.0,1.0,1.0,0.5,0.5,0.5,0.5
6680142,491,1,1134416,1417,1200,0,144.0,1357,1416,1297,1416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6680144,491,1,1134416,1417,1355,0,36.0,1357,1416,1297,1416,5.0,1355.0,1415.0,1355.0,1415.0,NaN,NaN,NaN,NaN,0.5,1.0,0.5,1.0
6680151,491,1,1134416,1417,1093,0,0.0,1357,1416,1297,1416,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6680160,491,1,1134416,1417,1299,0,60.0,1357,1416,1297,1416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10774716,491,554,1166254,1416,1389,0,24.0,1356,1415,1296,1415,5.0,1389.0,1449.0,1389.0,1449.0,NaN,NaN,NaN,NaN,0.5,0.5,0.5,0.5
10774720,491,554,1166254,1416,1350,0,24.0,1356,1415,1296,1415,5.0,1350.0,1410.0,1350.0,1410.0,NaN,NaN,NaN,NaN,0.5,1.0,0.5,1.0
10774722,491,554,1166254,1416,1291,0,48.0,1356,1415,1296,1415,5.0,NaN,NaN,1291.0,1351.0,NaN,NaN,NaN,NaN,NaN,0.5,NaN,0.5
10774725,491,554,1166254,1416,1213,0,12.0,1356,1415,1296,1415,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10774730,491,554,1166254,1416,1234,0,18.0,1356,1415,1296,1415,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [211]:
(all_data['sample_wt'] / 1000000).sum()

45856.228622999995